---
title: OSOM Guide
---
<html lang="en">
  {% include 'headtag.html' %}
  <body>
    <header>
      <h1>{% if title %}{{ title }}{% else %}OSOM{% endif %}</h1>
      {% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}
    </header>

    <aside>{{ content | toc | safe }}</aside>
    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>
	Copyright 2021
	<a href="https://stance.consulting">Stance Global Ltd</a>.
      </p>
      <p>
	The Organised Services Operating Model by Stance is licensed
	under the Creative Commons Attribution-Noncommercial
	ShareAlike 4.0 International license, available at:

	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.">
	  https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode
	</a>.
      
    </footer>
    
  </body>
</html>
