<header>
  <h1>
    <a href="/">{% if title %}{{ title }}{% else %}OSOM{% endif %}</a>
  </h1>
  {% if subtitle %}
  <h2>{{ subtitle }}</h2>
  {% else %}
  <h2>&nbsp;</h2>
  {% endif %}

  {% set sections = [
  { title: "Introduction", url: "/" },
  { title: "Concepts", collection: collections.concept },
  { title: "People", collection: collections.people },
  { title: "Processes", collection: collections.processes },
  { title: "Artefacts", collection: collections.artefact }]
  %}
  <menu>
    {% for section in sections %}
    {% set url = section.url %}
    {% set title = section.title %}
    {% set collection = section.collection %}
    {% include "menuitem.html" %}
    {% endfor %}
  </menu>
  
</header>
