*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
main > * + *,
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
   Remove all animations and transitions for people that prefer
   not to see them
*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* structure paragraphs with some spacing at the top and bottom
p {
    margin-top: .25em;
    margin-bottom: .25em;
}
*/

div#body {
    margin: 0;
    display: grid;
    grid-template-columns: [side] minmax(20rem, 1fr) [content] 3fr;
    grid-template-rows: [head] auto [body] auto [foot] 7rem;

    color: var(--text-color);
    background: var(--page-background);
}

div#body > header {
    grid-column: side / span 2;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 2px solid var(--menu-hover-background);
    margin-bottom: 1rem;
}

div#body > footer {
    grid-column: side / span 2;
    font-size: .8em;
    background: var(--footer-background);
}

div#body > footer > p {
    margin-left: 1em;
    max-width: 60%;
}

div#body > main {
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--menu-hover-background);
    padding-left: 1rem;
    padding-right: 1rem;
}

main > :first-child {
    margin-top: 0;
}

header,
aside {
    user-select: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

aside.hide {
  display: none;
}

div#body > main.full-width {
  grid-column: side / span 2;
}

/**
* Header
*/
header > nav.top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: var(--text-color);
}

main ol.footnotes-list {
    font-size: .75em;
    margin-left: 1em;
    list-style: decimal;
}

menu {
  user-select: none;
  background: var(--page-background);
  list-style: none;
  margin: 0;
  padding-left: 0;
  flex-grow: 1;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


menu li {
  color: var(--text-background);
  background: var(--page-background);
  display: block;
  float: left;
  padding: 1rem 1rem 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

menu li a {
    color: var(--text-background);
}

menu li:hover,
menu li:focus-within {
  color: var(--menu-hover);
  background: var(--menu-hover-background);
  cursor: pointer;
}

[aria-current="page"] {
    background: var(--menu-current-background);
}

menu li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

menu li > a:hover::after,
menu li > a.active-nav::after {
  width: 100%;
  background: var(--menu-hover-underline);
}

menu li menu {
    border-left: 1px solid #eee;
  box-shadow: 2.5px 2.5px 2.5px #eee;
  background: var(--menu-background);
  visibility: hidden;
  opacity: 0;
  min-width: 20rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

menu li:hover > menu,
menu li:focus-within > menu,
menu li menu:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

menu li menu li {
  clear: both;
  width: 100%;
}

menu li:focus-within a {
  outline: none;
}

.logo {
  display: block;
  /* text-indent: -9999px; */
  width: 2em;
  height: 2em;
  background: url(/assets/img/operating-model-colour.svg);
  background-size: 2em 2em;
}